body
{
    
        background-image: url(gambar/cool-impreza-wrx-wallpaper-25174-25857-hd-wallpapers.jpg);
        background-size: 100%;
        
    
}

.color-black
{
    color: black
}
